.header-bottom {
    display: inline-flex;  
    position: fixed;
    justify-content: center;
    height: 8vh;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.075);
    color: black;
    box-shadow: 1px 1px 10px whitesmoke;
    border-radius:  0px 0px 10px 10px;
    transition-duration: 0.1s;

    &:hover{
        height: 12vh;
        box-shadow: 1px 1px 10px rgb(9, 235, 167);
        ;

        & > .button{

            & > h1{
                display: flex;
                position: relative;
                font-size: 20px;
                border-right: 2px solid black;
                width: 7rem;
            }

           & > a > button{
            visibility: visible;
           }
        }
    }
            & > .button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                flex-direction: row;
                margin-left: 3px;
                width: 80%;

                & > a {
                    text-decoration: none;

                    & > button{
                        display: flex;
                        border: none;
                        color: black;
                        font-family: "Playwrite DE VA", cursive;
                        font-size: 12px;
                        font-weight: 600;
                        width: 7rem;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        visibility: hidden;
                        background-color: transparent;

                        & > i{
                            color: rgb(9, 235, 167);
                            font-size: 15px;
                            visibility: visible;
                        }

                        &:hover{
                            transform: scale(1.1);
                            background-color: rgba(128, 128, 128, 0.418);
                            box-shadow: 1px 1px 10px rgb(133, 131, 131), -1px -1px 10px rgb(133, 131, 131);

                        }
                    }
            }
    }
}

    ::-webkit-scrollbar {
        width: 1.1rem; /* Width of the scrollbar */
        scroll-behavior: smooth;
      }
      
      ::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, rgb(9, 235, 167)0%, rgb(107, 253, 253) 50%,rgb(2, 253, 253)100%);
        border-radius: 10px;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(to top, rgb(5, 231, 235) 0%, rgba(31,29,30,1) 100%);
      }
      
      ::-webkit-scrollbar-track {
        background: linear-gradient(to top, rgb(103, 103, 104) 0%, rgba(31,29,30,1) 100%);
    }

body{
    background: radial-gradient(circle, rgb(20, 20, 20) 0%, rgb(20, 20, 20) 100%);

}